@bp-small-mobile : 375px;
@bp-larger-than-small-mobile : 400px;
@black: #000000;

.home-link, .wls-click, .wls-row, .nav a { cursor: pointer; }

header {
    font-family: 'Cinzel' serif; 
    font-size: 200%; 
    font-weight: 700;
    text-align:center;
    color: #000000;
    margin-top: .2em;
}

body {
    text-align: center;
    color: @black;
}