@bp-small-mobile : 375px;
@bp-larger-than-small-mobile : 400px;
@black: #000000;

.home-link, .wls-click, .wls-row, .nav a { cursor: pointer; }

header {
    font-family: 'Cinzel' serif; 
    font-size: 200%; 
    font-weight: 700;
    text-align:center;
    color: #000000;
    margin-top: .2em;
    a:link, a:hover, a:visited, a:active {
        color: @black;
        text-decoration: none;
    }
}

body {
    text-align: center;
    color: @black;
}

img { 
    max-width: 100%;
    height:auto;
}